
.mc-button-field {
    position: absolute;
    right: 0;
    padding: 15px 24px;
    z-index: 1;
}

.mc-item-container {
    display: flex;
}

.mc-item-image {
    width: 35vw;
}

.mc-show-item-title {
    margin: 12px 0;
}

.mc-show-item-image {
    width: 43vw;
}