.mc-pipe {
    margin: 10px 0;
}

.mc-alert-message {
    margin-bottom: 10px;
}

.mc-page-title {
    padding: 16px 5px;
}

.mc-button-field {
    position: absolute;
    right: 0;
    padding: 15px 5px;
    z-index: 1;
}

.mc-item-container {
    display: flex;
}

.mc-item-image {
    width: 100%;
}

.mc-show-item-title {
    margin: 12px 0;
}

.mc-show-item-image {
    width: 43vw;
}

.mc-refine-container {
    margin-bottom: 10px;
}

.mc-operation-reset {
    text-align: right;
}
